#detail{
    width: 100%;
    margin-bottom: 600px;
}

#detail > .holder{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 30px;
    margin: 0 auto;
}

#detail > .holder > .main{
    height: 300px;
    width: 40%;
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
}

#detail > .holder > .main > .top{
    height: 85%;
}

#detail > .holder > .main > .top > .writer > #dWriter{
    cursor: pointer;
}

#detail > .holder > .main > .bottom{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

#detail > .holder > .main > .bottom > div{
    width: 48%;
    height: 100%;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

#detail > .holder > .main > .bottom > .right{
    background-color: rgb(3, 190, 3);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#detail > .holder > .main > .bottom > .left{
    background-color: blue;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#detail > .holder > .side{
    height: 250px;
    width: 30%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 30px;
    margin-top: 70px;
}

#detail > .holder > .side > .img{
    width: 60%;
    height: 100%;
    border-radius: 10px;
}

#detail > .holder > .side > .img > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#detail > .holder > .bottom{
    height: 250px;
    width: 80%;
    display: flex;
    flex-flow: wrap;
}

#detail > .holder > .bottom > div{
    height: 80px;
    width: 80%;
    display: flex;
    flex-flow: row;
    margin-right: 30px;
}

#detail > .holder > .bottom > .lib{
    display: block;
}

#detail > .holder > .bottom > .lib > .top:hover{
    color: blue;
}

#detail > .holder > .bottom > .lib > .top{
    font-size: 18px;
    text-indent: 50px;
    background: url("../photos/photos/books/save.png") no-repeat 98% 50%;
    background-size: 3%;
    display: block;
    cursor: pointer;
}

#detail > .holder > .bottom > .lib > .bottom{
    font-size: 16px;
    text-indent: 50px;
    display: block;
}

#detail > .holder > .bottom > .prop{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 30px;
    margin-bottom: 30px;
}

#detail > .holder > .bottom > .prop > div{
    gap: 30px;
    width: 20%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 30px;
}

#detail > .holder > .bottom > .prop > #dBTime{
    background: url("../photos/photos/time.png") no-repeat 60% 15%;
    background-size: 20%;
}

#detail > .holder > .bottom > .prop > #dBStar{
    background: url("../photos/photos/star2.png") no-repeat 60% 15%;
    background-size: 20%;
}

#detail > .holder > .bottom > .prop > .lis{
    background: url("../photos/photos/headphone.png") no-repeat 80% 15%;
    background-size: 25%;
}

#detail > .holder > .bottom > .prop > #dBCat{
    background: url("../photos/photos/4dotted.png") no-repeat 80% 15%;
    background-size: 20%;
    width: 23%;
}

#detail > .holder > .bottom > .audio{
    background-color: rgb(230, 236, 250);
    border-radius: 10px;
    position: relative;
    width: 90%;

    display: flex;
    align-items: center;
    padding: 10px;
}

#detail > .holder > .bottom > .audio > .first{
    width: 10%;
    height: 100%;
    background: url(../music/headphone.png) no-repeat 45% 50%;
    background-size: 35%;
    /* height: 50px; */
}

#detail > .holder > .bottom > .audio > p{
    width: 30%;
    height: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
}

#detail > .holder > .bottom > .audio > .aud{
    width: 50%;
    direction: ltr;
    appearance: none; 
    height: 8px;
    background: rgb(196, 208, 234);
    border-radius: 5px;
    outline: none;
    margin: 0 10px;
}

#detail > .holder > .bottom > .audio > .aud::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgb(12, 28, 64); 
    border-radius: 50%;
    cursor: pointer;
}

#detail > .holder > .bottom > .audio > #mplay{
    width: 10%;
    height: 100%;
    background: url(../music/musicPlay.png) no-repeat 50%;
    background-size: 70%;
}

#detail > .holder > .bottom > .audio > #mpause{
    width: 10%;
    height: 100%;
    background: url(../music/musicPause.png) no-repeat 50% 48%;
    background-size: 66%;
    position: absolute;
    left: 8px;
}

#detail > .holder > .bottom > .audio > .hide{
    display: none;
}

#detail > .holder > .bottom > .audio > .show{
    display: block;
}

#detail > .titleMini{
    margin-top: 100px;
    display: flex;
    gap: 3px;
    justify-content: right;
    font-size: 18px;
    margin-right: 200px;
    width: 80%;
    line-height: 50px;
}

#detail > .titleMini > span{
    font-size: 21px;
}

#detail > .titleCats{
    font-size: 18px;
    margin-top: 50px;
    margin-right: 220px;
}

#detail > #dCats{
    height: 60px;
    width: 1000px;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
    margin-right: 220px;
    margin-top: 20px;
}

#detail > #dCats > div:hover{
    border: 2px solid #6686a3;
}

#detail > #dCats > div{
    padding: 10px 15px;
    background-color: #fff;
    border: 2px solid #e7f3ff;
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.5s;
}

#detail{
    position: relative;
}

#detail > .img{
    width: 99%;
    height: 450px;
    background: url(../photos/13.png) no-repeat 50% 100%;
    background-size: contain;
    position: absolute;
    /* bottom: -50px; */
}

#content.hide,
#detail.hide,
#nav.hide{
	display:none;
}
