body{
    margin: 0;
    direction: rtl;
    color: black;
    box-sizing: border-box;
    padding: 0;
    font-family: yekan;
}

#header{
    height: 120px;
    box-shadow: 0 0 30px 7px #eee;
    position: relative;
    z-index: 30;
    white-space: nowrap;
    background-color: #fff;
}

#header > #up{
    position: absolute;
    top: 500px;
    right: 50px;
    height: 50px;
    width: 50px;
    background: url(../images/up.svg) no-repeat 50%;
    background-size: cover;
    cursor: pointer;
}

/* top */

#header > .top{
    height: 60px;
    display: flex;
    justify-content: center;
    gap: 5px ;
}

#header > .top > div{
    margin-top: 20px;
    height: 40px;
    border-radius: 5%;
}

#header > .top > .logo{
    width: 15%;
    height: 40px;
    background: url(../photos/logo.png) no-repeat 100% -90%;
    background-size: 50%;
    /* margin-left: 60px; */
}

#header > .top > .logo > p{
    margin-top: 28px;
    font-size: 14px;
    font-family: yekan;
    color: rgb(114, 114, 116);
}

#header > .top > .search{
    width: 50%;
    height: 45px;
    border: none;
}

#header > .top > .search > input{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 0 none;
    background: rgb(232, 233, 235) no-repeat 100% 50%;
    text-indent: 30px;
    font-size: 20px;
    z-index:5000;
    position: relative;
    box-shadow: 0 0 10px 1px #eee;
    color: black;
}

#header > .top > .sign{
    width: 12%;
    height: 45px;
    background-color: rgb(10, 197, 10);
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
    font-family: trafficb;
}

#header > .top > .dark{
    width: 3%;
    border: none;
    background: url(../../images/moon.png) no-repeat 50%;
    background-size: 80%;
    cursor: pointer;
    border: 1px solid #ccc;
}

/* buttom */

#header > .buttom{
    height: 40px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 150px;
    margin-top: 15px;
    gap: 15px;
    font-size: 18px;
    color: rgb(114, 114, 116);
}

#header > .buttom > div{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

#header > .buttom > .home{
    background: url(../images/home.png) no-repeat 105% 60%;
    background-size: 37%;
    width: 60px;
    height: 50px;
    text-indent: 10px;
    border-bottom: 2px solid #111;
    display: flex;
    align-items: center;
}

#header > .buttom > .cat{
    background: url(../images/cat.png) no-repeat 103% 50%;
    background-size: 20%;
    width: 120px;
    text-indent: 18px;
    position: relative;
}

#header > .buttom > #cat2Ic{
    background: url(../images/cat21.png) no-repeat 120% 50%;
    background-size: cover;
    width: 23px;
    height: 23px;
    margin-right: -17px;
}

#header > .buttom > .mag{
    background: url(../images/mag.png) no-repeat 90% 50%;
    background-size: 22%;
    width: 80px;
    text-indent: 15px;
}

#header > .buttom > .buy{
    background: url(../images/buy.png) no-repeat 100% 50%;
    background-size: 32%;
    width: 70px;
    text-indent: 80px;
}

#header > .buttom > .buy2{
    background: url(../images/buy2.png) no-repeat 100% 0%;
    background-size: 60%;
    width: 30px;
    height: 30px;
    margin-right: 35px;
}

#header > .buttom > .down{
    background: url(../images/down.png) no-repeat 100% 50%;
    background-size: 12%;
    width: 170px;
    text-indent: 30px;
    margin-right: 410px;
}

/* scroll */

#header.scroll{
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
}

.hide{
	display:none;
}

.show{
	display:block;
}

#overlay{
    width: 100%;
    height: 3000px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    z-index: 300;
}

#header > .top > .search > #results{
	position:absolute;
	top:70px;
	right:80px;
	width:50%;
    margin-right: 20%;
	max-height:350px;
	background:rgba(255,255,255,0.95);
	box-shadow:0 0 15px 1px #eee;
	border-radius:5px;
	z-index:400;
    cursor: pointer;
	overflow:auto;
}

#header > .top > .search > #results > div:hover{
    background-color:rgba(228, 227, 227, 0.95);
}

#header > .top > .search > #results > div{
	height:50px;
	display:flex;
	align-items:center;
	gap:30px;
	font-size:11px;
	margin:5px 20px;
	border-bottom:1px solid rgba(225,235,245,1);
}

#header > .top > .search > #results > div > img{
	height:80%;
	border-radius:3px;
	box-shadow:0 0 15px 1px #eee;	
}
