.miniSlider{
    overflow: hidden;
    width: 70%;
    height: 350px;
    margin: 0 auto;
    margin-bottom: 150px;
    display: flex;
    justify-content: right;
    position: relative;
    /* border: 1px solid #ccc; */
}

.miniSlider > .gal{
    height: 100%;
    width: 200%; 
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    right: 0%;
    transition: 0.3s;
}

.miniSlider  > .gal > .items{
    width: 160px;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    font-size: 12px;
}

.miniSlider  > .gal > .items:hover > img{
    box-shadow:0 1px 5px 5px #eee;
}

.miniSlider  > .gal > .items > img{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    margin-top: 5px;
    transition: 0.3s;
}

.miniSlider  > .gal > .items > .info{
    width: 100%;
    height: 50%;
    background-color: #fff;
    transition: 0.3s;
}

.miniSlider > .gal > .items > .info > h2{
    font-size: 18px;
    margin-right: 10px;
}

.miniSlider  > .gal > .items > .info > .writer{
   margin-right: 10px;
   margin-top: -10px;
   color: rgb(114, 114, 116);
   font-size: 15px;
}

.miniSlider  > .gal > .items > .info > .holder{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.miniSlider  > .gal > .items > .info > .holder > .time{
   margin-right: 10px;
   width: 55%;
   height: 25px;
   text-indent: 30px;
   border-radius: 5px;
   background: url("../photos/photos/headphone.png") no-repeat 90% 40%;
   background-size: 25%;
   font-size: 14px;
   color: rgb(114, 114, 116);
   background-color: rgb(240, 240, 252);
   display: flex;
   align-items: center;
}

.miniSlider  > .gal > .items > .info > .holder > .score{
   margin-right: 10px;
   width: 35%;
   height: 25px;
   text-indent: 25px;
   border-radius: 5px;
   background: url("../photos/photos/star.png") no-repeat 80% 40%;
   background-size: 25%;
   background-color: rgb(250, 237, 209);
   font-size: 13px;
   color: rgb(251, 101, 17);
   display: flex;
   align-items: center;
}

.miniSlider  > .gal > .items > .info > .add:hover{
    color: rgb(4, 0, 255);
    cursor: pointer;
}

.miniSlider  > .gal > .items > .info > .add{
   margin-right: 10px;
   margin-top: 10px;
   text-indent: 25px;
   border-radius: 5px;
   background: url("../photos/photos/books/save.png") no-repeat 100% 50%;
   background-size: 12%;
   font-size: 14px;
   font-weight: bold;
}

.miniSlider  > .gal > .items > .info > span{
   display: block;
}

.miniSlider:hover > .right{
    right: 20px;
}

.miniSlider > .right{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 100px;
    right: -100px;
    background-color: #ccc;
    transition: 0.3s;
    cursor: pointer;
    background: url("../photos/photos/rb2.png") no-repeat 50%;
    background-size: 90%;
}

.miniSlider:hover > .left{
    left: 20px;
}

.miniSlider > .left{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 100px;
    left: -100px;
    background-color: #ccc;
    transition: 0.3s;
    cursor: pointer;
    background: url("../photos/photos/lb.png") no-repeat 50%;
    background-size: 90%;
}