.Slider{
    overflow: hidden;
    width: 70%;
    height: 350px;
    margin: 0 auto;
    margin-bottom: 150px;
    position: relative;
}

.Slider > .gal{
    height: 100%;
    width: 200%; 
    display: flex;
    justify-content: center;
    position: relative;
    right: 0%;
}

.Slider  > .gal > .items{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.Slider  > .gal > .items > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-top: 5px;
    transition: 0.3s;
}
